@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EBEBEB;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EBEBEB;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 110px;
  }
}

.animate-grow {
  animation: grow 1s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideIn 1.5s ease-out forwards;
}